/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --teal: #7ABFBF;
    --light-blue: rgba(122, 191, 191, 0.5);
    --black: #0D0D0D;
    --white: #F2F2F2;
    --orange: #ED5428;

    --fonts: "Bebas Neue", "Montserrat",  Arial, sans-serif;
}

html {
    background-color: var(--light-blue);
    font-family: var(--fonts);
}

body {
    width: 414px;
    margin: 0 auto;
    background-color: var(--light-blue);
}

header {
    background-color: var(--white);
}

h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
    padding-top: 200px;
}

menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-bottom: 10px;
}

menu li {
    font-size: 18px;
    text-align: center;
    color: var(--orange);
    text-decoration: none;
}

menu li:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

menu li:active {
    background-color: var(--teal);
}

menu li a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the color inherited from the parent li */
}

main {
    background-color: var(--white);    
    font-family: "Montserrat";
}

#tacos {
    width: 100%;
    height: auto;
}

#intro {
    margin: 20px 10px 0px 10px;
    line-height: 1.5;
}

main h2 {
    font-size: 25px;
    font-family: "Bebas Neue";
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
}

#details dl {
    margin: 0 10px;
    line-height: 1.5;
}

#details dt {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    padding-right: 10px;
}

#details dd {
    display: inline;
}

#details dd:after {
    display: block;
    content: '';
}

#ingredients ul {
    list-style: square;
    line-height: 2;
    padding-left: 30px;
}

#directions ol {
    list-style: decimal;
    margin: 0 15px;
    padding: 0 10px;
    line-height: 1.5;
}

#directions li {
    padding: 0 0 20px 10px;
}

#side {
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
}

#side h3 {
    font-family: "Bebas Neue";
    font-size: 20px;
}

.sides img{
    width: 20%;
    height: auto;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
}

.sides h3{
    padding: 10px 0;
}

.sides p{
    line-height: 1.5;
    font-size: 14px;
}

.sides:hover {
    cursor: pointer;
    background-color: var(--orange);
}

.rating {
    font-weight: 700;
}

nav h2 {
    display: none;
    height: 0;
}

nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
    padding-top: 5px
}

nav label {
    cursor: pointer;
    width: 70px;
    margin-left: 4px;
}

label span {
    background-color: #ffffff;
    height: 0;
    display: block;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
    left: 15px;
    top: 7px;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    color: var(--black);
    font-size: 22px;
}

nav label svg {
    display: block;
}

input[type="checkbox"]:hover + label {
    background-color: var(--light-blue);
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

nav #dropdown {
    display: none;
}

nav input:checked ~ ul {
    max-height: 600px;
    overflow: hidden; 
}

nav ul {
    display: grid;
    grid-template-rows: repeat(7, auto); 
    padding: 0;
    overflow: hidden; 
    list-style: none;
    max-height: 0;
}

nav li img {
    display: none; 
}

nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--orange);
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-size: 20px;
}

nav li a:hover {
    background-color: var(--light-blue);
    color: var(--black);
    transition: transform 200ms ease-out;
}

nav > ul > li > a:last-child {
    padding: 30px 10px 32px 10px;
}

nav ul #home {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--orange);
    padding: 4px 100px 0 100px;
}

#home svg {
    display: block;
    margin: 0 auto; 
    transform: translateY(10px);
}

#signin {
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#signin svg {
    position: absolute;
    top: 10px;
    right: 15px;
}

#signin p {
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-size: 22px;
    position: relative;
    top: 20px;
    right: 2px;
    color: var(--black);
}

#search {
    grid-row: 2;
    background-color: #F2F2F2;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    padding: 15px;
}

#search input {
    width: 300px;
    grid-row: 1;
    border: 2px solid #EB5428;
}

#search button {
    grid-row: 1;
    border: 2px solid #EB5428;
}

#search button:hover{
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    justify-content: center;
    text-align: center;
    row-gap: 25px;
    background-color: var(--white);
}

footer h2, footer p{
    display: none;
    height: 0;
}

#socials ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    padding-top: 30px;
    width: 414px;
}

#socials li {
    width: calc(100% / 4);
    text-align: center; 
}

#socials a {
    text-decoration: none;
    color: var(--orange);
    font-size: 20px;
}

#socials li:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

#socials a{
    cursor: pointer;
}

#socials a:hover {
    color: var(--orange);
}

footer small {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

footer img {
    width: 200px;
    grid-row: 2;
    margin: auto;
}

@media screen and (min-width:786px) {
    body {
        width: 786px;
    }

    h1 {
        text-align: left;
        padding: 20px;
        padding-top: 200px;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    menu {
        position: absolute;
        top: 306px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
    }

    menu li {
        margin: 10px 0;
    }

    #details dl {
        margin: 0 auto;
        line-height: 1.5;
        text-align: center;
    }

    #ingredients {
        float: left;
    }

    #directions ol{
        padding-left: 230px;
    }

    #side {
        clear: both; /* Clear both left and right floats */
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10px;
    }

    #side h2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #socials ul {
        float: right;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
        max-width: 786px;
    }

    label[for="dropdown"] {
        display: none;
    }

    nav ul #home {
        left: 40px;
        padding: 0px 10px 0 10px;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 786px;
    }

    label[for="dropdown"] {
        display: none;
    }

    nav ul {
        overflow: visible; 
        grid-row-start: 2;  
        grid-column-start: 1;
        grid-column-end: 8;  
        display: flex;
        flex-direction: row;  
    }

    nav ul li {
        display: flex;
        flex-direction: row;
    }

    nav li img {
        display: block; 
        max-width: 75%;
        padding: 0px 10px 0 10px;
    }

    nav li img:hover {
        background-color: var(--light-blue);
    }

    nav li a:hover {
        background-color: #ffffff;
    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #socials {
        grid-column-start: 2;
    }

    footer img {
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 50px;
    }

    footer small {
        position: absolute;
        bottom: 0;
        left: 185px;
        transform: translateX(-50%);
    }

    #search {
        grid-column-start: 6;
        grid-row-start: 1;
        padding: 0 20px 0 0;
        margin-top: 10px;
        background-color: #ffffff;
    }
}

@media screen and (min-width:1280px) {
    body {
        width: 1280px;
    }

    h1 {
        text-align: center;
    }

    menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 100px;
        position: absolute;
        left: 52px;
        top: 712px;
        border: 2px solid var(--orange);
        padding-bottom: 532px;
    }

    #tacos {
        width: 45%;
        height: auto;
        margin-left: 100px;
        float: left;
    }

    #intro {
        padding-left: 675px;
    }

    #details {
        clear: both;
        background-color: var(--black);
        color: var(--teal);
    }

    #details dl {
        display: grid;
        grid-template-rows: 25px 25px;
    }

    #details dt {
        grid-row: 1;
    }

    #details dd {
        grid-row: 2;
    }

    #directions ol{
        padding-left: 250px;
    }

    #xl {
        clear: both;
        display: flex;
        width: 100%;
    }

    #side h2 {
        grid-row-start: 1;
        grid-column: 1 / span 4;
    }

    .sides {
        grid-row-start: 2;
        padding: 45px;
    }

    .sides img{
        width: 100%;
        height: auto;
        padding: 0;
    }

    .sides h3{
        padding: 10px 0;
    }

    .sides p{
        line-height: 1.5;
        font-size: 14px;
    }

    .sides:hover {
        cursor: pointer;
        background-color: var(--orange);
    }

    .rating {
        font-weight: 700;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
        max-width: 786px;
    }

    label[for="dropdown"] {
        display: none;
    }

    nav ul #home {
        left: 40px;
        padding: 52px 10px 52px 10px;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 1280px;
    }

    label[for="dropdown"] {
        display: none;
    }

    nav ul {
        overflow: visible; 
        grid-row-start: 1;  
        grid-column-start: 2;
        grid-column-end: 7;  
        display: flex;
        flex-direction: row;  
    }

    nav ul li {
        display: flex;
        flex-direction: row;
    }

    nav li img {
        display: block; 
        max-width: 50%;
        padding: 0px 10px 0 10px;
        margin-left: 18px;
    }

    nav li img:hover {
        background-color: var(--light-blue);
    }

    nav li a:hover {
        background-color: #ffffff;
    }

    #search {
        grid-row: 3;
        grid-column-start: 4;
    }

    #signin p {
        text-transform: uppercase;
        font-family: "Bebas Neue";
        font-size: 22px;
        position: relative;
        top: 60px;
        right: 2px;
        color: var(--black);
    }

    #signin svg {
        position: absolute;
        top: 50px;
        right: 15px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer img {
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 50px;
    }

    #socials {
        grid-column-start: 4;
    }

    footer small {
        grid-column-start: 4;
    }

    footer small {
        position: absolute;
        bottom: 200px;
        left: 300px;
        transform: translateX(-50%);
    }
}
